<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "产品", products_path %></li>
        <li><%= link_to "购物车", cart_items_path %></li>
        <li><a>我的订单</a></li>
        <li><%= link_to "收藏", favorites_items_path %></li>
        <%if current_user%>
          <li style = "float: right" class = "bar_user">
            <%= link_to current_user.username, edit_registration_path(:user) , style: "padding: 5px"%>
            <%= link_to "logout", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "want to log out?"}, style: "padding: 5px"%>
          </li>
          <%if current_user.avatar.attached?%>
            <li class = "bar_user">
              <a href =<%=edit_registration_path(:user)%> style = "padding: 0">
                <%= image_tag url_for(current_user.avatar), width: :auto, height: '60px', style: "vertical-align: bottom"%>
              </a>
            </li>
          <%end%>
        <%else%>
        <li class = "bar_user">
            <%= link_to "login", new_session_path(:user)%>
        </li>
        <%end%>
      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    
    
    <%= yield %>
  </body>
</html>
