<h1>Cart</h1>
<%if @cart_items.size > 0%>
    <% @cart_items.each do |cart_item|%>
        <div class = "list_cart_block">
            <div class = "cart_img_block">
                <%= image_tag url_for(cart_item.product.img) %>
            </div>
            <div class = "cart_text_block">
                <%= cart_item.product.name%><br>
                <strong>Price: </strong><span class = "cart_price"><%= cart_item.product.price%></span><br>
                <strong>Quantity: </strong><%= number_field_tag "cart_items[#{cart_item.product_id}]", cart_item.quantity, min: 0, style: "width: #{cart_item.quantity.to_s.length + 2}ch", class: :cart_quantity%><br>
                于 <%= cart_item.updated_at.strftime("%Y/%m/%d")%> 加入购物车<br>
            </div>
        </div>
    <%end%>
<div class = "bottom_bar">
    <strong style = "font-size: xx-large">总价: </strong><span id="total_price"></span>
</div>



<script>
var total_price = document.getElementById("total_price")
var prices = document.getElementsByClassName("cart_price")
var quantitys =  document.getElementsByClassName("cart_quantity")
total_price.innerText = sum()
for(let i = 0;  i < quantitys.length; i++) {
    quantitys[i].addEventListener('input', function(){
        quantitys[i].style.width = quantitys[i].value.length + 2 + 'ch'
        total_price.innerText = sum()
    })
}
function sum()
{
    let sum = 0
    for(let j = 0; j < quantitys.length; j++){
        sum += quantitys[j].value * prices[j].innerText;
    }
    return sum.toFixed(3)
}
</script>




<%else%>
    <div class = "empty_inf_div">空空如也</div>
<%end%>
